body {
  background-color: #ff8a80;
}

li {
  font-family: helvetica;
}

h1 {
  font-size: 4rem;
  text-decoration: underline;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  font-size: 2.7rem;
  padding: 40px;
  border: 4px solid black;
  font-weight: bold;
}
li {
  font-size: 2rem;
  color: rgb(46, 43, 43);
  font-weight: normal;
}

header {
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
  text-align: center;
  font-weight: normal;
}

hr {
  color: black;
}

#locations {
  padding-bottom: 200px;
  float: right;
  text-align: center;
  background-color: rgb(173, 172, 172);
  border-radius: 20%;
}

#table {
  margin-left: auto;
  margin-right: auto;
  width: 85%
}


#hours {
  background-color: rgb(173, 172, 172);
  border-radius: 20%;
  font-family: Helvetica;
}
#salmon {
  display: flex;
  align-content: center;
  margin-left: 560px;
}

tr {
  border-style: solid;
  border-color: black;
}

td {
  padding: 5px;
  text-align: center;
  background-color: #ffbcaf;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 2rem;
}

.tableHead {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}

.stores {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}